.designer-image {
    position: relative;
    width: 250px;
    height: 350px;
    border: 1px solid #aaa;
    display: inline-block;
    margin: 10px;
  
    &:hover button {
      visibility: visible;  
    }
  
    button {
      visibility: hidden;
      position: absolute;
      right: 5px;
  
      &.remove {
        top: 5px;
      }
  
      &.poster {
        bottom: 5px;
      }
    }
  }