form {
    background: $navajoWhite;
    padding: 10px;
  
    label {
      display: block;
    }
  
    button {
      margin-top: 10px;
      color:red;
    }
  
    p {
      margin-top: 10px;
      height: 30px;
      color: rgb(243, 18, 18);
    }
  }