@import '../variables.css';

.hidden {display: none;}

a {
  text-decoration: none;
  color: $darkBlue;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-rows: auto 1fr auto;
}

#main-head     {grid-area: header;}
#main-content  {grid-area: content;}
#main-footer   {grid-area: footer;}

.maxwidth-wrap {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
}

h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.25em;}
small {font-size: .75em;}

 h2, h3, h4, p {
  line-height: 2rem;
  margin-bottom: 2rem;
}

main {
  width: 100%;
  max-width: $maxWidth;
  margin: 2rem auto;
  padding: $contentPadding;
  box-sizing: border-box;
}

footer {
  text-align: center;
  background: $darkBlue;
  padding: $contentPadding;
  small {
    color:white;
  }
}
