html {height: 100%;}

body {
    min-height: 100%;
    /* https://css-tricks.com/snippets/css/system-font-stack/ */
    font-family: "Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    color: #222;
}

img {
     width: 100%;
     height: auto;
     display: block;
}

.clip {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
